</main>

<div class="container footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2025 Erik Roberts</p> 
        <p class="col-md-4 mb-0 text-body-secondary text-end">Thanks to <a href="https://openlibrary.org" target="_blank" rel="noopener noreferrer" class="ftLink">OpenLibrary.Org.</a></p>
    </footer>
</div>